{% extends 'base.html.twig' %}

{% block body %}

<h1>Detalle de países</h1>

<li>{{ pais.nombre }} - {{ pais.continente }} - {{pais.regiones}} </li>

<ul>

    {% for pais in pais.presidentes %}

        <li>{{ pais.nombre }} -  {{ pais.fechanac|date("m/d/Y")}} - {{ pais.continente }} - {{pais.regiones}}  </li>

    {% endfor %}

</ul>

<a href="{{ path('pais_detalle') }}">Añadir pais</a>

{% endblock %}
