{% extends 'base.html.twig' %}

{% block body %}

<h1>Detalle de provincias</h1>

<li>{{ provincia.nombre }} - {{ provincia.localidades }}</li>

<ul>

    {% for provincia in provincias.pais %}

        <li>{{ provincia.nombre }} - {{ provincia.localidad }} - {provincia.region}}</li>

    {% endfor %}

</ul>

<a href="{{ path('provincia_detalle') }}">Añadir provincia</a>

{% endblock %}
